.homeview{
    max-width: 1300px;
    margin: 1rem auto;
}

.homeview__title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #000;
    margin-left: 8px;
}

.homeview__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}