.product{
    width: 280px;
    padding: 1rem;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 8px auto;
    flex-direction: column;
    justify-content: space-between;
}
.product > img{
    width: 100%;
    border-radius: 8px;
}

.product__info > p {
    margin: 8px;
}

.info__name{
    font-size: 1rem;
    overflow: hidden;
    margin: 8px;
}

.info__description{
    font-size: 0.8rem;
}
.info_price{
    font-weight: bold;
}

.content__button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info__button{
    display: block;
    width: 100%;
    margin: 3px auto;
    text-decoration: none;
    text-align: center;
    color: #171717; 
    background: #f4f4f4;  
    padding: 8px 16px;   
    border: 1px solid #171717;
    font-size: 1rem;
    border-radius: 8px;
}

.info__button:hover{
    background: #0f0f0f;
    color: #f4f4f4;
}

@media screen and (max-width: 1232px){
    .product{
        width: 360px;
    }
}

@media screen and (max-width: 1115px){
    .product{
        width: 330px;
    }
}

@media screen and (max-width: 1028px){
    .product{
        width: 300px;
    }
}

@media screen and (max-width: 480px){
    .product{
        width: 360px;
    }
}

@media screen and (max-width: 470px){
    .product{
        width: 370px;
    }
}

@media screen and (max-width: 460px){
    .product{
        width: 380px;
    }
}